<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/ui-lightness/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="main">
        <div id='cssmenu'>
            <ul>
                <li class='active'><a href='index.html'><span>首页</span></a></li>
                <li class='has-sub'><a href='#'><span>P</span></a>
                    <ul>
                        <li class='has-sub'><a href='#'><span>Product 1</span></a>
                            <ul>
                                <li><a href='#'><span>Sub Item</span></a></li>
                                <li class='last'><a href='#'><span>Sub Item</span></a></li>
                            </ul>
                        </li>
                        <li class='has-sub'><a href='#'><span>Product 2</span></a>
                            <ul>
                                <li><a href='#'><span>Sub Item</span></a></li>
                                <li class='last'><a href='#'><span>Sub Item</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class='has-sub'><a href='#'><span>基础信息维护</span></a>
                    <ul>
                        <li><a href='/Workshop/List'><span>车间</span></a></li>
                        <li class='last'><a href='/Position/List'><span>岗位</span></a></li>
                    </ul>
                </li>
                <li class='last'><a href='#'><span>管理员</span></a></li>
            </ul>
        </div>
        @RenderBody()

        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            $(function () {
                $("th").addClass("ui-widget-header");
                $(".datepicker").datepicker({ "dateFormat": "yy-mm-dd" });
                $("input[type=submit],input[type=reset],button,a.button").button();
                $("div.buttonset").buttonset();
            });
        </script>
    </div>
</body>
</html>
